In [ ]:
#Working with csv(comma separated values)
df=pd.read_csv("data.csv")

In [15]:
#open a csv file from url
import pandas as pd
import requests
from io import StringIO
url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
headers={"User-Agent":"Mozilla/5.0"}
req=requests.get(url,headers=headers)
data=StringIO(req.text)
df=pd.read_csv(data)
df

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [ ]:
#Sep Parameter
df=pd.read_csv("movie_titles_metadata.tsv",sep="\t",names=["imdb_id","title","original_title","year","date_published","genre","duration","country","language","director","writer","production_company","actors","description","avg_vote","votes","budget","usa_gross_income","worlwide_gross_income","metascore","reviews_from_users","reviews_from_critics","synopsis"])

In [ ]:
#index_col Parameter
pd.read_csv("iris.csv",index_col="Id")

In [ ]:
#header Parameter
pd.read_csv("iris.csv",header=1)#use the column name as header

In [ ]:
#usecols Parameter
pd.read_csv("iris.csv",usecols=["Id","SepalLengthCm","Species"])

In [ ]:
pd.read_csv("iris.csv",usecols=["Id"],squeeze=True) #converts the dataframe into series

In [ ]:
#skiprows Parameter
pd.read_csv("iris.csv",skiprows=1) #skip the first row

In [ ]:
#skip bad lines
pd.read_csv("Book.csv",eror_bad_lines=False)

In [ ]:
#nrows Parameter
pd.read_csv("iris.csv",nrows=100) #read only first 5 rows

In [ ]:
#Encoding Parameter
pd.read_csv("iris.csv",encoding="latin-1")

In [ ]:
#dtype Parameter
pd.read_csv("iris.csv",dtype={"Id":"int"})

In [ ]:
#Handling Dates
pd.read_csv("ipl_data.csv",parse_dates=["date"]).info()
pd.read_csv("ipl_data.csv",parse_dates=[[1,3]]).info()
pd.read_csv("ipl_data.csv",parse_dates={foo:[1,3]}).info()

In [ ]:
#Converters Parameter
def rename(name):
    if name=="RCB":
        return "Royal Challengers Bangalore"
    else:
        return name
pd.read_csv("ipl_data.csv",converters={"team1":rename,"team2":rename})

In [ ]:
#na_values Parameter
pd.read_csv("ipl_data.csv",na_values=["RCB","MI"]) #replace RCB and MI with NaN

In [ ]:
#loading a huge dataset in chunks
dfs=pd.read_csv("ipl_data.csv",chunksize=1000)
for chunk in dfs:
    print(chunk.shape)

In [ ]:
#import data from excel
pd.read_excel("Book.xlsx")
pd.read_excel("Book.xlsx",sheet_name="Sheet1")

In [ ]:
#Reading text files
pd.read_csv("iris.txt",sep="\t") #tab separated file

In [ ]:
#Reading json Files
pd.read_csv("recipe.json")
pd.read_csv("http://github.......") #url of json file

In [ ]:
#Working With SQL 

pip install mysql-connector-python

In [ ]:
#watch vedio data analysis campus x
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",password="",database="world")
df=pd.read_sql_query("select * from country",conn)